@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Salsa&display=swap");
:root {
  --primary-color: #58a7bf;
  --secondary-color: #8db87a;
  --accent1-color: #201784;
  --accent2-color: #e8c35e;

  --heading-font: "Salsa", serif;
  --paragraph-font: "PT Sans", serif;

  --nav-background-color: #ffffff;
  --nav-link-color: #201784;
  --nav-hover-link-color: #e8c35e;
  --nav-hover-background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

p {
  font-family: var(--paragraph-font);
}

.hero {
  position: relative;
}

.hero article {
  background: rgba(141, 184, 122, 0.95);
  position: absolute;
  top: 200px;
  margin-left: 50px;
  margin-right: 50px;
}

.hero article img {
  float: right;
  width: 140px;
  height: 100px;
  padding: 20px;
}

.hero article p {
  padding: 20px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  background: rgba(20, 17, 84, 0.8);
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
