@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Salsa&display=swap");
:root {
  --primary-color: #58a7bf;
  --secondary-color: #8db87a;
  --accent1-color: #201784;
  --accent2-color: #e8c35e;

  --heading-font: "Salsa", serif;
  --paragraph-font: "PT Sans", serif;

  --nav-background-color: #ffffff;
  --nav-link-color: #201784;
  --nav-hover-link-color: #e8c35e;
  --nav-hover-background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

p {
  font-family: var(--paragraph-font);
}

header {
  display: grid;
  grid-template-columns: 120px 1fr 3fr;
  align-items: center;
  margin: 0 auto;
  text-align: right;
  background: var(--primary-color);
  padding: 20px;
}

header img {
  width: 80px;
  height: auto;
  grid-column-start: 2;
  border: 2px solid var(--accent1-color);
}

header nav {
  font-family: var(--paragraph-font);
  display: flex;
  justify-content: space-around;
  background: var(--accent2-color);
  padding: 10px;
  border: 2px solid var(--accent1-color);
}

footer {
  display: flex;
  background: var(--accent1-color);
  color: white;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 50px;
  height: auto;
}

.hero {
  position: relative;
}

.hero article {
  background: rgba(141, 184, 122, 0.95);
  position: absolute;
  top: 200px;
  margin-left: 50px;
  margin-right: 50px;
}

.hero article img {
  float: right;
  width: 200px;
  height: auto;
  padding: 20px;
}

.hero article p {
  padding: 20px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  background: rgba(20, 17, 84, 0.8);
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.history {
  background-color: var(--accent2-color);
  padding: 50px;
}

.history div {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.history p {
  padding: 10px;
}

.history img {
  width: 200px;
  height: auto;
}

h2 {
  text-align: center;
}

.adventure-awaits-you {
  padding: 40px;
}

.adventure-awaits-you h2 {
  padding: 20px;
}

.grid {
  display: flex;
  justify-content: space-between;
}

figure {
  background: #ddd;
  padding: 2px;
}

figcaption {
  text-align: center;
  font-family: var(--paragraph-font);
}

figure img {
  width: 200px;
}

.employee-profiles {
  padding: 20px;
  background-color: #8db87a;
}

.employee-profiles h2 {
  color: #fff;
}

.employee-profiles .grid {
  width: 750px;
  padding: 20px;
  margin: 0 auto;
}

.company-information {
  padding: 20px;
  width: 750px;
  margin: 0 auto;
  font-family: var(--paragraph-font);
}

.company-information iframe {
  margin: 1rem;
  border: 0;
}

form {
  display: grid;
  width: 650px;
  margin: 0 auto;
  background: #eee;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-family: var(--paragraph-font);
}

button {
  background-color: navy;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
  margin-top: 1rem;
}

button:hover {
  background-color: darkgreen;
}

input,
select,
textarea {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

label {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

table {
  background: #ddd;
  margin: 0 auto;
  width: 750px;
  font-family: var(--paragraph-font);
}

th,
td {
  text-align: center;
}

tr {
  margin-bottom: 1rem;
}

.featured-trips h1 {
  text-align: center;
  margin-top: 2rem;
}

.featured-trips figure {
  margin: 2rem;
  border: 0.5rem solid var(--accent2-color);
}

.featured-trips img {
  width: 100%;
}

.featured-trips figcaption {
  margin: 1rem;
}

.trips-table table {
  padding: 2rem;
  background-color: var(--secondary-color);
}

.trips-table h2 {
  margin-bottom: 2rem;
}

.call-to-action {
  margin: 3rem;
}

.home-hero h2 {
  background: var(--secondary-color);
  padding: 2rem;
}

.newsletter-form {
  margin: 2rem;
}

.grid-layout {
  background-color: var(--accent2-color);
  padding: 20px;
  margin: 0 auto;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid-layout div {
  margin: 1rem;
}

.grid-layout article {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 2rem;
}

.grid-layout h2 {
  text-align: left;
}

.grid-layout .right img {
  width: 200px;
}
