@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}
:root {
  --primary-color: #58a7bf;
  --secondary-color: #8db87a;
  --accent1-color: #201784;
  --accent2-color: #e8c35e;

  --heading-font: "Salsa", serif;
  --paragraph-font: "PT Sans", serif;

  --nav-background-color: #ffffff;
  --nav-link-color: #201784;
  --nav-hover-link-color: #e8c35e;
  --nav-hover-background-color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
header {
  padding: 20px;
  background-color: var(--accent1-color);
}
p {
  padding: 25px;
}
nav {
  background-color: var(--background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nave-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
